a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
img{
    vertical-align: middle
}
.header{
    height: 57px;
}
.header-wrap{
    display: flex;
    align-items: center;
    padding: 0 48px;
    justify-content: space-between;
    height: 57px;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 44px;
}
.header-main{
    display: flex;
}
.header-main li {
    padding: 0 10px;
}
.header-main li ul {
    display: none;   
}
.header-icons{
    display: flex;
    justify-content: space-between;
}
.header-icon {
    padding-right: 20px;
}
.header-right {
    display: flex;
    justify-content: flex-end;
}
.menu-bar-mobile{
    display: none;
}
.mobile-logo{
    display: none;
}
@media only screen and (max-width: 900px) {
    .header-wrap{
        padding: 0;
    }
    .header-main{
        display: none;
    }
    .header-left{
        display: none;
    }
    .menu-bar-mobile{
        display: flex;
        align-items: center;
    }
    .mobile-search{
        display: none;
    }
    .mobile-bar-icon{
        padding: 0 10px;
    }
    .logo{
        display: none;
    }
    .mobile-logo{
        display: block;
    }
  }